
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    text-decoration: none;
    scroll-behavior: smooth;
    border:none;
    outline:none;
}

:root{
    --bg-color:#191919;
    --secont-bg-color:#2c2c2c;
    --main-color:#e9204f;
    --text-color:#fff;
    --second-color:#e4e4e4;
    --other-color:#c6c9d8bf;
    --h1-font:7rem;
    --h2-font:3.5rem;
    --p-font:1.1rem;

}

body{
    color: var(--text-color);
    background-color: var(--bg-color);
}
 header{
    position: fixed;
    top: 0;
    height: fit-content;
    right: 0;
    z-index: 1000;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
    padding: 20px 11%;
    border-bottom: 1px solid transparent;
    transition: all ease .50s;
}

.logo{
    font-weight: 600;
    color: #e9204f;
    width: auto;
    height:auto;
    font-size: 1.5rem;
}

.navlist{
    display: flex;
    list-style: none;
}

.navlist a{
    color: var(--second-color);
    font-size: var(--p-font);
    font-weight:600;
    margin: 2px 40px;
    transition: all ease .40s;
}
.navlist a:hover{
    color: var(--main-color);
    margin-bottom:2 px solid var(--main-color);
}

#menu-icon{
    font-size: 42px;
    color: var(--text-color);
    z-index: 10001;
    cursor:pointer;
    display: none;
}


section{
    padding: 120px 19% 100px;
}
.home{
    position: relative;
    min-height: 100vh;
    width: 100%;
    background:linear-gradient(#000000,rgba(0, 0, 0, 0.736)), url(image/portfolioimg.png);
    background-color: rgba(255, 0, 0, 0.4);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.hero-text h3{
    font-family: 'Inter', sans-serif;
    color: var(--other-color);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
    word-spacing: 10px;
}
 
.hero-text h1{
    font-size: var(--h1-font);
    color: var(--text-color);
    font-weight: 800;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.hero-text h4{
    font-family: 'Inter', sans-serif;
    color: var(--other-color);
    font-size: 25px;
    font-weight: 600;
    word-spacing: 15px;
    margin-bottom: 3.5rem;
}

.btn{
    display: inline-block;
    padding: 16px 45px;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight:600 ;
    border:2px solid var(--main-color);
    transition: all ease .50s;
}
.btn:hover{
    transform: translate(5px);
    background: transparent;
    border: 2px solid var(--main-color);
}

header.sticky{
    padding: 15px 11%;
    background:#000;
    border-bottom:1px solid #4e5055;
}
/*****************abiut****************/
.about{
    background-color: var(--secont-bg-color);
    display: grid;
    grid-template-columns:30% 60%;
    align-items: center;
    gap: 4rem;
}

.about-img img{
    padding-inline: 3rem;
    width: auto;
    height: 400px;
}
.about-text h2{
    
    font-size:var(--h2-font);
    font-weight: 800;
    margin-bottom: 30px;
}
.about-text h5{
    font-size:22px;
    margin-bottom: 20px;
    line-height: 1.4;
}
span{
    color:var(--main-color);
}
.about-text p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 1rem;
}

.skills{

    background-color: var(--bg-color);
}

/********************about2***********************/
.about2{
    padding-top: 10px;
    background-color: var(--secont-bg-color);
}
.about2-item{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top:10px;
}
.about2-box{
    width: auto;
    height: 300px;
    padding: 45px 30px;
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 3px solid transparent;
    cursor: pointer;
    transition:all ease .50s ;
}

.about2 h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
    border-bottom: 2PX solid var(--main-color);
}
.about2 p{
    color: var(--other-color);
    font-size: var(--p-font);
    line-height: 30px;
    margin-bottom: 0.5rem;
}


.about2 a{
    font-weight: 500;
    color: var(--main-color);
    text-decoration: underline;
}
.about2 a:hover{
    color: white;
}
.about2-box:hover{
    transform: translateY(-8px);
    border:1px solid #4e5055;
}




.text-center{
    text-align:center
}
.text-center h2{
    font-size:var(--h2-font);
    font-weight: 800;
    margin-bottom: 10px;
}
.text-center h4{
    font-size: 22px;
    font-weight: 500;
}
.s-btnn{
    margin-top: 20px;
    display: inline-block;
    padding: 10px;
    background: var(--main-color);
    color:var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border:2px solid var(--main-color);
    border-radius: 2rem;
    transition:all ease .50s;
    width: 1000px;
}
.s-btnn:hover{
    transform:scale(1.1);
    background:transparent;
    border: 2px solid var(--main-color);
}
/*********************Project section******************/
.projects{
    background-color: var(--secont-bg-color);
}
.projects-item{
    
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items: center;
    gap: 2.2rem;
    text-align: center;
    margin-top: 4rem;
}
.projects-box{
    overflow: hidden;
    height: 300px;
    padding: 20px 15px;
    background-color: var(--bg-color);
    border-radius: 2rem;
    border: 3px solid transparent;
    cursor: pointer;
    transition:all ease .50s ;
}
.projects-item img{
    width: 100%;
    height:auto;
}
.projects-box p{
    padding: 20px 15px;
    color: var(--text-color);
    position:relative;
    z-index: 3;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:-100%;
    transition: 0.5s all;
    border-radius: 2rem;
    background:linear-gradient(var(--main-color),var(--bg-color));
    opacity: 0.8;
}
.projects i{
    font-size: 50px;
    color: var(--main-color);
    margin-bottom: 10px;
}
.projects h3{
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;
}
.s-btnn{
    text-align: center;
    width: fit-content;
    background: var(--main-color);
    color:var(--text-color);
    font-size: 15px;
    font-weight: 500;
    border:2px solid var(--main-color);
    border-radius: 2rem;
    transition:all ease .50s;
    margin-inline: 45%;
}
.s-btnn:hover{
    transform:scale(1.1);
    background:transparent;
    border: 2px solid var(--main-color);
}
.projects-box:hover{
    transform: translateY(-8px);
    border:1px solid #4e5055;
}
.projects-box:hover p{
    justify-content: center;
    bottom: 90%;
    
}
/******************download resume********************/
.resume{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,auto));
    align-items: center;
    gap: 5rem;
}

.resume div img{
    height: 300px;
   align-items: center;

}
.right-resume h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom :5px ;
}
.right-resume a button{
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom:20px;
    letter-spacing: 2px;
    background-color: var(--main-color);
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    padding:3px 6px;
    transition: all ease .40s;
}
.right-resume a button:hover{
    background: transparent;
    transform:scale(1.1);;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    
}
.right-resume p{
    color: var(--other-color);
    font-size:var(--p-font);
    line-height:30px;

}
.skills-box{
    position: relative;
    padding-top: 20px;
    margin-top: 40px;
    padding-inline: 50px;
    display: flex;
    justify-content: center;
}

.skills-cards{
    padding: 20px;
    display: flex;
    width: 700px;
    flex-direction: column;
    gap: 20px;
}
.card{
    display: flex;
    justify-content: start;
   
}
.card-container{
    
    margin-inline-start: 160px;
    border: 1px solid var(--secont-bg-color);
    width: 100%;
    margin-bottom: 30px;
    background-color: var(--other-color);
    color: var(--bg-color);
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
}

.card-content{
    margin-top: 10px;
    padding-left: 20px; 
    color: var(--secont-bg-color);
}
.skill-icon{
    z-index: 1;
    position:absolute;
    border:2px solid white;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-shadow: 1px 1px 7px 0 rgba(138, 136, 136, 0.3);
}
.skills-cards::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    top: 0;
    margin-left: 42px;
    z-index: 0;
 
}


/**contact**/
.contact{
    background-color: var(--secont-bg-color);
}


.contact h2{
    font-size: var(--h2-font);
    font-weight: 800;
    margin-bottom :5px ;
    text-align: center;
}
.hero{
    width:100%;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 90%;
    max-width: 600px;
}
.input-group{
    margin-bottom: 30px;
    position: relative;
    background: var(--second-color);
}
input,textarea{
    width: 100%;
    padding:10px;
    outline: 0;
    border: 1px silid #ffffff;
    color: #070404;
    font-size: 15px;
}
label{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: var(--bg-color);
    cursor: text;
    transition: 0.2s;
}
input:focus~label,
input:valid~label{
    top: -35px;
    color: var(--main-color);
    font-weight: 600;
}
button{
    background-color: var(--main-color);
    padding-inline: 5px;
    border: 1px solid var(--main-color);
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}
button:hover{
    background:transparent;
    border: 1px solid var(--main-color);
}


/***************End Section****************/
.end-section{
    padding: 80px 19% 70px;
    background:var(--bg-color);
    display:flex;
    align-items:center;
    flex-direction: column;
    text-align: center;
}
.end-section h3{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}
.end-section p{
    color:var(--other-color);
    font-size:15px;
    line-height: 20px;
   
}
.end-icons{
    margin-top: 10px;;
}
.end-section i{
    height:40px;
    width: 40px;
    background:var(--main-color) ;
    color:var(--text-color);
    border: 2px solid var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 9px;
    transition: all ease .50s;
}
.end-section i:hover{
    transform: translateY(-5px);
    background: transparent;
    border: 2px solid var(--main-color);
}


@media (max-width:1600px){
    header{
        padding:14px 4%;
    }
    header.sticky{
        padding:8px 4%;
    }
    section{
        padding:100px 5% 80px;
    }
}

@media (max-width:1200px){
    .navlist a{
        margin: 0 20px;
    }
    :root{
        --h1-font:5rem;
        --h2-font:3.1rem;
        --p-font:1rem;
    }
}

@media (max-width:1060px){
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
        order: 2;
    }
    .about-img img{
        padding-inline: 3rem;
        width: auto;
        
    }
    .about2-item{
        grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    }
    .skills-item{
        grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    }
    .projects-item{
        grid-template-columns: repeat(auto-fit,minmax(350px,auto));
    }
    .resume{
        grid-template-columns: 1fr;
    }  
}
@media (max-width:870px){
    #menu-icon{
        display: block;
    }
    header{
        background-color: black;
    }
    .navlist{   
        justify-content: space-between;
        margin-top: 10px;
        transition: all .50s ease;
    }
    
    
}
@media (max-width:660px)
{
    
    :root{
        --h1-font:3.8rem;
        --h2-font:2.7rem;
        --p-font:15px
    }
    .hero-text h4{
        font-size: 18px;
        word-spacing:10px;
        margin-bottom: 30px;
    }
    .btn{
        padding:10px 35px;
    }
    .in i{
        font-size: 80px;
    }
    .in h4{
        font-size:20px;
    }
}

@media(max-width:460px){
    :root{
        --h1-font:3.5rem;
        --h2-font:2.5rem;
    }
    .navlist{
        padding-inline: 1%;
    }
    .navlist a{
        font-size: 0.7rem;
    }
    .hero-text h4{
        font-size: 16px;
        word-spacing:7px;
    }
    .skills-icon div{
        font-size: 1rem;
        padding-top: 6px;
    }
    .s-btnn{
        margin-inline: 25%;
    }
}
