@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  overflow-x: hidden;
  font-family: sans-serif;
}

.darktheme {
  --nav-text:#3191f7;
  --head:#2087F5;
  --primary-color:#1E293B; /**/
  --nav-text-color: #E2E8F0;
  --second-color:#0F172A;
  --hover-color:#57A8FF; /**/
  --text-color: #E2E8F0; /**/
  --muted-text:#94A3B8; /**/
  --card-color:#1E293B; /**/
  --links:	#2087F5; /**/
  --card-color:#3B5A7A; /**/

  --line-color:#1E293B;
  --main-color:#3191f7;
  --bg-color: #f8f8f8;
  --secont-bg-color: #2c2c2c;
  --muted-text2:rgb(132, 132, 132);
  --hero-text:white;
  --hero-text-muted:rgb(132, 132, 132);
  --icon-bg-color:white;
  --icon-color:black;
  --h1-font: 7rem;
  --h2-font: 3.5rem;

  --p-font: 1.1rem;
  --image-grad:linear-gradient(black, rgba(0, 0, 0, 0.736));
}
.lighttheme {
    --nav-text:#3191f7;
    --head:#2087F5;
    --main-text:white;
    --nav-text-color: #E2E8F0;
  --primary-color:#acd6ff; 
  --icon-bg-color:black;
  --icon-color:white;
  --second-color:#e2edff;
 
  --hover-color:#176DD1; /**/
  --text-color: #1C1C1C; /**/
  --muted-text:#3E4C59; /**/
    --hero-text:white;
  --hero-text-muted:rgb(222, 222, 222);

  --links:#2087F5; /**/
  --card-color:#a7d1fc; /**/

  --main-color:#3191f7;
  --bg-color: #f8f8f8;
  --secont-bg-color: #2c2c2c;
  --muted-text2:rgb(132, 132, 132);
  
  --line-color:#1E293B;
  --h1-font: 7rem;
  --h2-font: 3.5rem;
  --p-font: 1.1rem;
  --image-grad:linear-gradient(rgba(15, 68, 148, 0),rgba(48, 207, 255, 0));
}

body {
  overflow-x: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
}
header {
  position: fixed;
  top: 0;
  height: fit-content;
  right: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 11%;
  border-bottom: 1px solid transparent;
  transition: all ease 0.5s;
}
header.scrolled {
  background-color:var(--primary-color); /* or any solid color */
  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.logo {
  font-weight: 600;
  color: var(--nav-text);
  width: auto;
  height: auto;
  font-size: 1.5rem;
}

.navlist {
  display: flex;
  list-style: none;
}

.navlist a {
  color: var(--nav-text-color);
  font-size: var(--p-font);
  font-weight: 600;
  margin: 2px 40px;
  transition: all ease 0.4s;
}
header.scrolled .navlist a{
  color: var(--main-color);
}
.navlist a:hover {
  color: var(--main-color);
  margin-bottom: 2 px solid var(--main-color);
}

#menu-icon {
  font-size: 42px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}

section {
  overflow: hidden;
}

.home {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background: var(--image-grad),
    url(image/portfolioimg.png);
  background-color: rgba(255, 0, 0, 0.4);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.theme-switch {
  position: absolute;
  right: 40px;
  top: 70px;
  height: 35px;
  padding: 0;
  width: 35px;
  color: white;
  font-size: 30px;
  border-radius: 50%;
  cursor: pointer;
  overflow:hidden;
  background-color: transparent;
  border: 0px;
}
#icon{
    transition: transform 0.3s ease, opacity 0.3s ease;
}
.fa-sun, .fa-moon {
  transform: scale(1);
  opacity: 1;
}
.hero-text h3 {
  font-family: "Inter", sans-serif;
  color: var(--hero-text-muted);
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
  word-spacing: 10px;
}
.hero-text b{
    color: var(--hero-text);
}
.hero-text h1 {
  font-size: var(--h1-font);
  color: var(--hero-text);
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-text h4 {
  width: 80%;
  font-family: "Inter", sans-serif;
  color: var(--hero-text-muted);
  font-size: 25px;
  font-weight: 600;
  word-spacing: 15px;
  margin-bottom: 3.5rem;
}

.btn {
  display: inline-block;
  padding: 16px 45px;
  background-color: var(--main-color);
  color: var(--hero-text);
  font-weight: 600;
  border: 2px solid var(--main-color);
  transition: all ease 0.5s;
}
.btn:hover {
  transform: translate(5px);
  background: transparent;
  border: 2px solid var(--main-color);
}

header.sticky {
  padding: 15px 11%;
  background: #000;
  border-bottom: 1px solid #4e5055;
}
/*****************about****************/
.complete-about{
    background: linear-gradient(var(--primary-color) 0%,var(--second-color) 100%);
}
.about {
  width: 100;
  position: relative;
  display: grid;
  grid-template-columns: 30% 60%;
  align-items: center;
  gap: 4rem;
}
.bg-image-design1{
  position:absolute;
  top:0px;
  left: -100px;

  height: 500px;
  width: fit-content;
  opacity: 60%;
  z-index: 1;
}

.skills-image-design2{
  position:absolute;
  z-index: 0;
  top:0;
  right:-5%;
  height: 150px;
  width: fit-content;

  z-index: 1;
  filter: brightness(0) invert(1);
}
.skills-image-design3{
  position:absolute;
  z-index: 0;
  bottom:50%;
  left:-10%;
  height: 150px;
  width: fit-content;

  z-index: 1;
  filter: brightness(0) invert(1);
}

.about-img img {
  position: relative;
  z-index: 4;
  padding-inline: 3rem;
  width: auto;
  height: 400px;
}
.about-text h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 30px;
  position: relative;
  z-index: 3;
}
.about-text h5 {
  position: relative;
  z-index: 4;
  font-size: 22px;
  margin-bottom: 20px;
  line-height: 1.4;
}
span {
  color: var(--main-color);
}
.about-text p {
  position: relative;
  z-index: 4;
  color: var(--muted-text2);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 1rem;
}

/********************about2***********************/
.about2 {
  padding-top: 10px;

}

.about2-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2.2rem;
  text-align: center;
  margin-top: 5px;
  padding-top: 50px;
  padding-bottom: 15px;
}
.about2-box {
  width: auto;
  position: relative;
  opacity: 0;
  height: 300px;
  padding: 45px 20px;
  background-color: var(--card-color);
  border-radius: 2rem;
  border: 3px solid transparent;
  cursor: pointer;
  overflow: hidden;
  transform: translateY(-60px);
  transition:transform ease 0.8s;
  box-shadow: 1px 6px 8px rgba(0,0,0,0.2);
}

.about2-box.show{
  opacity: 1;
  transform: translateY(0px);
}
.about-card-bg{
  position: fixed;
  z-index: -1;
  filter:brightness(5);
  transform: translate(-110%, 54%) rotate(20deg);
  height: 250px;

  opacity: 50%;
  transition: none;
  transition: opacity ease 0.4s;

}
.about2-box:hover .about-card-bg{
  opacity: 100%;
}
.about2 h3 {
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 12px;
  border-bottom: 2px solid var(--line-color);
}
.about2 p {
  color: var(--muted-text);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 0.5rem;
}

.about2 a {
  font-weight: 500;
  color: var(--links);
  text-decoration: underline;
}
.about2 a:hover {
  color: var(--hover-color);
}
.about2-box:hover {
  transform: translateY(-8px);
  border: 1px solid var(--hover-color);
}

.text-center h2 {
  font-size: var(--h2-font);
  font-weight: 800;
  margin-bottom: 10px;
}
.text-center h4 {
  font-size: 22px;
  font-weight: 500;
}

/*********************** skill************************/
.skills {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  width: 100%;
  background: linear-gradient(to top,var(--primary-color) 60%,var(--second-color) 100% );
}
.skills-img1{
  position:absolute;
  transform: scaleX(-1);
  height: 700px;

  bottom: 15%;
  left:40px;
  z-index: 2;
}

.skills-box {
  position: relative;
  z-index: 3;
  padding-top: 10px;
  margin-top: 90px;
  padding-inline: 50px;
  display: flex;
  justify-content: end;
  overflow: visible;
}

.skills-cards {
  padding: 20px;
  display: flex;
  width: 700px;
  flex-direction: column;
  gap: 20px;
  overflow: visible;
}
.card {
  display: flex;
  justify-content: start;
  overflow: visible;

}


.text-center {
  text-align: center;
  color: var(--text-color);
}
.card-container {
  position: relative;
  margin-inline-start: 160px;
  border: 1px solid var(--card-color);
  width: 100%;
  margin-bottom: 30px;
  background-color: #ebf3ff;
  opacity: 0;
  transform: translateX(150px);
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
  overflow: hidden;

  transition: transform ease 1s;
}

.card-container.show{
  transform: translateX(0px);
  opacity: 1;
}

.skills-hover{
  z-index: -1;
  position: absolute;
  height: 160px;
  width: 160px;
  transform: rotate(-100deg);
  right: -5px;
  top: -14px;
  opacity: 0%;
  transition: opacity ease 0.6s;
}
.card-container:hover .skills-hover{
  opacity: 80%;
}
.card-container:hover{
  transform: scale(1.02);
}
.card-container h3{
  color: black;
}
.card-content {
  color: black;
  padding-top: 10px;
  padding-left: 14px;
}
.app-icons{
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  padding-left: 10px;
  overflow: hidden;
}
.app-icons div{
 
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--hover-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.5s;
  box-shadow: 0 4px 8px rgba(0, 149, 255, 0.56);
}
.app-icons div:hover{
  transform: translateY(-5px);
}
.app-icons div i{
  transform: scale(1.5);
}
.profiles{
  display: flex;
  align-items: center;
}
.skill-icon {
  z-index: 1;
  position: absolute;
  border: 2px solid white;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-shadow: 1px 1px 7px 0 rgba(138, 136, 136, 0.3);
}
.skills-cards::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background: white;
  top: 0;
  margin-left: 42px;
  z-index: 0;
}

/*********************Project section******************/

.projects {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color);
}
.projects-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 2.2rem;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 4rem;
}
.project-card{
  position: relative;
  overflow: hidden;
  height: 300px;
  padding: 20px 15px;
  background-color: var(--card-color);
  border-radius: 2rem;
  border: 2px solid var(--card-color);
  cursor: pointer;
  transform: translateY(-60px);
  transition: all ease 0.8s;
  opacity: 0;
}
.project-card.show{
  opacity: 1;
  transform:translateY(0px);
}

.projects-item img {
  width: 100%;
  height: auto;
}
.image-txt {
  z-index: 1;
  font-size: 18px;
  position: absolute;
  top: 150%;
  left: 0;
  color: var(--text-color);
  padding: 30px 15px;
  border-top: 2px solid var(--hover-color);
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: fit-content;
  background: linear-gradient(var(--primary-color), var(--links));
  opacity: 0.8;
  transition: top 0.4s ease;
}
.projects i {
  font-size: 50px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.projects h3 {
  color:var(--text-color);
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 12px;
}

.project-card:hover {
  transform: translateY(-8px);
  border: 1px solid var(--hover-color);
}

.projects-box:hover .image-txt {
  top: 80%; 
  transform: translateY(-50%);
}

.s-btnn {
  text-decoration: none;
  font-size: 18px;
  color: var(--second-color);
}
.s-btnn:hover{
    color: var(--bg-color);
}
.visit-button a{
  color: white;
}
.visit-button{
  font-size: 20px;
  margin: 20px 0px;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  padding: 5px 15px;
  transition: all ease 0.4s;
}

.visit-button:hover {
  background: transparent;
  transform: scale(1.1);
  color: var(--hover-color);
  border: 2px solid var(--main-color);
}
.visit-button:hover a{
  color: var(--hover-color);
}

.project-heading{
    text-align: center;;
}
.project-heading h2{
    color:var(--text-color);
    font-size: var(--h2-font);
    font-weight: 800; 
}
.project-heading h4{
    color:var(--muted-text);
    margin-top: 10px;
    font-size: var(--p-font);
}
/******************download resume********************/
.resume {
  position: relative;
  display: grid;

  background-color:var(--primary-color);
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 5rem;
}
.resume-img-illu1{
  position: absolute;
  z-index: 1;
  height: 500px;
  top: -55%;
  right: -15%;
  filter: brightness(10);
}
.resume-img-illu2{
  position: absolute;
  z-index: 1;
  height: 200px;
  bottom:-18%;
  left: 23%;
  filter: brightness(10);
}
.gear{
  transition: all ease 0.8s;
}
.gear.show{
  transform: rotate(40deg);
}

.resume-img {
  position: relative;
  z-index: 2;
  height: 300px;
  align-items: center;
}
.right-resume{
  overflow: visible;
  position: relative;
  z-index: 3;
}
.right-resume h2 {
  
  font-size: var(--h2-font);
  color: var(--text-color);
  font-weight: 800;
  margin-bottom: 5px;
}
.right-resume a button {
  color: white;
  font-size: 20px;
  margin: 20px 0px;
  cursor: pointer;
  background-color: var(--main-color);
  border-radius: 1rem;
  border: 2px solid var(--main-color);
  padding: 5px 15px;
  transition: all ease 0.4s;
}
.right-resume a button:hover {
  background: transparent;
  transform: scale(1.1);
  color: var(--hover-color);
  border: 2px solid var(--main-color);
}
.right-resume p {
  color: var(--muted-text);
  font-size: var(--p-font);
  line-height: 30px;
}


.right-resume a {
  font-size: 1.2rem;
  text-decoration: underline;
  color: rgb(0, 123, 255);
}

/***************End Section****************/
.end-section {
  position: relative;
  z-index:10;
  padding: 20px 19% 20px;
  background: var(--second-color);
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.end-section h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}
.end-section p {
  color: var(--other-color);
  font-size: 15px;
  line-height: 20px;
}
.end-icons {
  margin-top: 10px;
}
.end-icons{
  overflow: visible;
}
.end-section i {
  height: 40px;
  width: 40px;
  background-color: var(--hover-color);
  color: white;
  border:2px solid var(--hover-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  
  border-radius: 50%;
  margin: 0 4px;
  transition: all ease 0.5s;
}
.end-section i:hover {
  transform: translateY(-5px);
  color: var(--hover-color);
  background: transparent;
}


/*media-queries*/

@media (max-width: 1600px) {
  header {
    padding: 14px 4%;
  }
  header.sticky {
    padding: 8px 4%;
  }
  section {
    padding: 100px 5% 80px;
  }
  .about-img img {
    width: 400px;
    height: 300px;
  }

}

@media (max-width: 1200px) {
  .navlist a {
    margin: 0 20px;
  }
  :root {
    --h1-font: 5rem;
    --h2-font: 3.1rem;
    --p-font: 1rem;
  }
  .resume-img {
    width: 200px;
    height: 200px;
  }
  .skills-img1{
    height: 400px;
    left: 0;
    bottom: 30%;
  }
  .skills-image-design3{
    bottom: 100px;
  }
}

@media (max-width: 1060px) {
  h2{
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    display: none;
  }
  .bg-image-design{
    display: none;
  }
  .skills-img1{
    opacity: 0;
  }
  
  .about2-item {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
  .skills-item {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
  .projects-item {
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  }
  .right-resume{
    text-align: center;
  }
}
@media (max-width: 870px) {
  #menu-icon {
    display: block;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-bottom: 0.1px solid white;
  }
  .navlist {
    justify-content: space-between;
    margin-top: 10px;
    transition: all 0.5s ease;
  }
  .skills-image-design2{
    top:140px;
    height: 100px;
  }
  .skills-image-design3{
    height: 100px;
  }
  .resume-img-illu1{
    top:-19%;
    right:-12%;
    height: 250px;
  }
  .navlist a {
    margin-inline: 10px;
    text-decoration: underline;
  }
  .theme-switch{
    top:120px;
    right:20px;
  }
  .resume-img {
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 660px) {
  .lighttheme,.darktheme {
    --h1-font: 3.8rem;
    --h2-font: 2.7rem;
    --p-font: 15px;
  }
  .hero-text h4 {
    font-size: 18px;
    word-spacing: 10px;
    margin-bottom: 30px;
  }
  .btn {
    padding: 10px 35px;
  }
  .in i {
    font-size: 80px;
  }
  .in h4 {
    font-size: 20px;
  }
  .skills {
    padding-inline: 10px;
  }
  .skills-cards {
    padding-inline: 4px;
  }
  .skills-box {
    padding: 2px;
  }
  .skill-icon {
    width: 70px;
    height: 70px;
  }
  .card-container {
    margin-inline-start: 80px;
  }
  .skills-cards::after {
    margin-left: 30px;
  }
  .card-content {
    font-size: 16px;
  }
  .resume {
    display: flex;
    gap: 20px;
    padding-top: 50px;
  }
  .resume-img {
    display: none;
  }
}

@media (max-width: 460px) {
  .lighttheme , .darktheme {
    --h1-font: 2.8rem;
    --h2-font: 2rem;
    --p-font:1rem;
  }
  .navlist {
    padding-inline: 1%;
  }
  .hero-text{
    text-align: center;
  }
  .hero-text h4 {
    font-size: 16px;
    word-spacing: 7px;
    width: 100%;
  }
  .about2-box{
    margin-inline: auto;
    width: 370px;
    height: 280px;
    padding: 40px 10px;
  }

  .project-card{
    height:360px;
    width: 370px;
  }


  .image-txt{
    top:230px;
    border-radius: 0px;
    font-size: var(--p-font);
    height: 150px;
  }
  .projects-item a:hover .image-txt{
    top:initial;
    transform: none;
  }
  
  .theme-switch{
    top:110px;
    right:10px;
  }
  
  .skills-icon div {
    font-size: 1rem;
    padding-top: 6px;
  }
  .resume-img-illu1{
    height: 200px;
    top:-15%;
    right:-15%;
  }
  .resume-img-illu2{
    height: 100px;
    bottom:-10%;
    left:4%;

  }
  .s-btnn {
    font-size: 15px;
  }
  .end-section i {
    width: 30px;
    height: 30px;
    margin-inline: 2px;
  }
}
